body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}
.retornar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content {
    width: 100%;
    margin: 0 auto;
}

.canvas {
    max-width: 100%;
}