.body {
	font-family: 'Montserrat', sans-serif;
	background: #aa3939;
	color: #362f2f;
}

#modalidad,
#facultad,
#localidad,
#periodo {
    display: none;
    margin-top: 10px;
}

#retornar,
#opciones {
    position: relative;
    display: inline;
    margin: 10px;
}


.content {
    width: 100%;
    margin: 0 auto;
}

.canvas {
    max-width: 100%;
}