.body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}
.botones {
    display: table-row-group;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: aquamarine;
    padding: auto;
    width: auto;
}
.boton {
    position: relative;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#modalidad,
#facultad,
#localidad,
#periodo {
    display: none;
    margin-top: 10px;
}

#paleta-opciones {
    display: none;
    position: relative;
    align-items: center;
    margin: 10px;
}

#retornar,
#mostrar-grafica {
    background-color: #007bff;
    padding: 10px 20px;
    align-items: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}


#contenido {
    display: none;
    width: 100%;
    margin: 0 auto;
}

#tabla-grafica {
    max-width: 30%;
}

#grafica {
    max-width: 70%;
}

